@import "../../global.sass"

h1,h2,h3
    padding: 20px

.Skills
    background-color: $c5

.skillgroup
    display: flex
    flex-direction: row

.subskill
    color: white
    width: 100px
    margin: 10px
    text-align: center
    background: lightgray

