@import "../../global.sass"

.Portfolio
    background-color: $c3
    text-align: center

.Portfolio::-webkit-scrollbar 
  display: none
    
a
    float: right

img
    white-space: nowrap

.projects
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    transition: 0.3s
    width: 90%
    margin: auto
    
.gallery
    padding: 5px

.right
    float:right
    padding-right:10px

.desc
    float: left
    padding-left:10px

.moreinfo
    font-size: 12px
    float: left
    padding-left:10px

.skillused
    font-size: 12px
    float: left
    padding-top: 5px
    padding-left:10px
