@import "../../global.sass"

.Intro
    background-color: $c2

.Intro::-webkit-scrollbar 
  display: none

.Profile
  float: left
  margin-left: 125px
  margin-top: 20px
  width: 50%
  height: 50%
  border-radius: 50%
  overflow: hidden
  clip-path: circle()

.left
    float: left
    width: 50%

.right
    float: right
    width: 50%

.text
    margin: left
    padding: 75px

.icons
  float: left
  margin-left: 20px
  padding: 10px

a
  padding: 3px

.pin
  margin-left: 25px

.h4
  